h2{
  color: #000;
font-family: Lora;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align:start;
}

.polldays-title {
  color: #000;
  font-family: Lora;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;}

  /*TODO: Styling adjustments on text and button alignment*/

.poll-page {
  text-align: center;
  padding: 40px;
  margin-bottom: 80px;
}

.polldays-modal {
  width: 748px;
height: 403px;
flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding:90px;
  margin: 0 auto; /* Center the modal */
  align-items:center;
}


form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 6px;
  text-align: left;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

form input,
form textarea,
select {
  display: flex;
width: 556px;
height: 50px;
padding: 15px 16px;
align-items: center;
gap: 10px;
border-radius: 4px;
border: 1px solid #D9D9D9;
}

/* TODO: Adjust button alignment, finish stylizing buttons (back specifically)*/
.button-container {
  display: flex;
  justify-content: center; 
}

.back-button,
.next-button {
  height: 50px;
  padding: 16px 32px;
  border-radius: 30px;
  background: #FFF37D;
  border: none;
  margin-top: 50px;
}

.back-button {
  margin-right: 5px;
}

.next-button {
  margin-left: 5px;
}
