.poll-page {
    text-align: center;
    padding: 40px;
  }
  
  .modal {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    text-align:left;
    font-size:larger;
  }
  
  .modal-content {
    background-color: #F5F5F5;
    padding: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto; /* Set auto margins to center the form */
    
  }
  
  form label {
    margin-bottom: 6px;
    text-align: left;
  }
  
  form input,
  form textarea {
    padding: 10px;
    margin-bottom: 6px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #D9D9D9;
    background-color:#F5F5F5;
  }
  
  button {
    margin-top: 10px;
    margin-left:55.5%;
    padding: 8px 20px;
    width:268px;
    background-color: #D9D9D9;
    color: black;
    border: none;
    cursor: pointer;
    align-self: flex-end;
  }
  